 <div class="container-contact100" >
    <h3 class="asstet-sub-heading">Asset Inventory</h3>
    <!-- <div>Asset Inventory</div> -->
        <div class="wrap-contact100">
            <h3 class="asstet-heading"></h3>
            <div class="list-container">
                <h5 class="asstet-sub-heading">Asset List</h5>
                <div class="asstet-rows">
                    <table class="table">
                        <tr>
                            <th>
                                <div class="title-row">DPC ID</div>
                                <div class="next-row"><input type="text" [formControl]="id"class="id-input" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"></div>
                            </th>
                            <th>
                                <div class="title-row">ORGANIZATION</div>
                                <div class="next-row"><input type="text" [formControl]="organization" class="organization-input" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"></div>
                            </th>
                            <th>
                                <div class="title-row">TRANSACTION IDENTIFIER</div>
                                <div class="next-row"><input type="text" [formControl]="transaction" class="transaction-input"  placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" ></div>
                            </th>
                            <th>
                                <div class="title-row">BUSINESS/ FUNCTION</div>
                                <div class="next-row">
                                    <select class="business-input" [formControl]="business">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div class="title-row">SUB-BUSINESS /SUB-FUNCTION</div>
                                <div class="next-row">
                                    <select class="sub-business-input" [formControl]="sub">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div>REGION</div>
                                <div class="next-row">
                                    <select class="region-input" [formControl]="region">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div>COUNTRY</div>
                                <div class="next-row">
                                    <select class="country-input" [formControl]="country">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div>PROPERTY TYPE</div>
                                <div class="next-row">
                                    <select class="propertyinput" [formControl]="type">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div>STATUS</div>
                                <div class="next-row">
                                    <select class="status-input" [formControl]="status">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                        <tr *ngFor="let item of list">
                            <td>{{item.id}}</td>
                            <td>{{item.organization}}</td>
                            <td>{{item.trasaction}}</td>
                            <td>{{item.business}}</td>
                            <td>{{item.sub}}</td>
                            <td>{{item.region}}</td>
                            <td>{{item.country}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </table>
                </div>
            </div> 
        </div>
      </div>