.asstet-heading {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.main-container {
    background: #e6e6e6;
}
.list-container {
    background-color: white;
    /* border: 1px solid #000000; */
    margin-left: 20px;
    margin-right: 20px;
}
.asstet-sub-heading {
    font-weight: bold;
    margin-top: 10px;  
    margin-bottom: 25px;
    margin-left: 10px;
}
.asstet-rows {
    margin-left: 30px;
}
.next-row {
    margin-top: 10px;
    margin-bottom: 20px;
}
.id-input {
    width: 54px;
}
.organization-input {
    width: 122px;
}
.business-input{
height: 30px;
width: 172px; 
    
}
.sub-business-input {
    height: 30px;
    width: 250px;
}
.region-input {
    height: 30px;
    width: 150px;
}
.country-input {
    height: 30px;
    width: 150px;
}
.propertyinput {
    height: 30px;
    width: 150px;
}
.status-input {
    height: 30px;
    width: 150px;
}
.title-row {
    white-space: nowrap;
}
.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    padding: 35px;
    background: #e6e6e6;
}
.wrap-contact100 {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    /* overflow: hidden; */
    /* margin-top: -400px; */
    /* padding: 5px 50px 50px 50px; */
}


