body {
    font: 16px Arial, Verdana, Tahoma, Sans-serif;
  }
  
  .container {
    width: 852px;
    background: #ccc;
    margin: 0 auto;
    padding: 16px;
  }
  
  .wrapper {
    margin: 8px 0;
  }
  
  .search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
  
  input {
    min-width: 20px;
    padding: 8px;
    margin: 0 4px 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    height: 30px;
  }
  
  .button {
    padding: 8px 16px;
    min-height: 48px;
    min-width: 10px;
    word-wrap: nowrap;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  input {
      order: 0;
      align-self: auto;  
  }
  
  .search {
    flex: 2 1 auto;
  }
  
  .date-from {
    flex: 1 1 auto;
  }
  
  .date-to {
    flex: 1 1 auto;
  }
  
  .button {
      order: 4;
      flex: 0 1 auto;
      align-self: auto;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }