<div class="container">
    <div class="wrapper">
        <p>Advance Search</p>
        <div class="search-container">
            <input type="text" class="search" [formControl]="name" placeholder="Name">
            <input type="text" class="search" [formControl]="status" placeholder="Status">
            <select [formControl]="gender">
                <option value="">Select</option>
                <option [value]="gender" *ngFor="let gender of genders">{{ gender }}</option>
            </select>
        </div>
    </div>
</div>
<table id="customers" *ngIf="list.length > 0">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>STATUS</th>
        <th>species</th>
        <th>GENDER</th>
    </tr>
    <tr *ngFor="let item of list; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.location.name}}</td>
        <td>{{item.status}}</td>
        <td>{{item.species}}</td>
        <td>{{item.gender}}</td>
    </tr>
</table>
<div *ngIf="list.length === 0">
{{errMsg}}
</div>